.container{
    display: block
}

.repos_container{
    display: grid;
    grid-template-columns: auto auto;
}

a{
    color: #aae;
    text-decoration: none;
}

.repo_stats{
    width: 100%;
    grid-column: span 2;
}

.bar{
    background: #559;
    text-align: left;
    overflow: visible;
    white-space: nowrap;
    padding: 2px;
    margin: 3px;
}
