{%extends "base.html"%}
{%block links%}
    {{super()}} 
    <link rel="stylesheet" href="css/index.css" type="text/css" media="all">
{%endblock links%}
{%block content%}
    <div class="container">
        <h1>This is a test of express</h1>
        <p>It sure do be doin stuff</p>
        <p>I am exactly <span id=age></span> years old</p>
        <h2><a href="{{link}}">My Github</a></h2>
        <div class="repos_container container">
            <div class="public container repo_type">
                <h4>Public repositiores:</h4>
                <p class="repo_num">{{public_repos}}</p>
            </div>
            <div class="private container repo_type">
                <h4>Private repositories:</h4>
                <p class="repo_num">{{private_repos}}</p>
            </div>
            <div class="container repo_stats">
                <h4>Repository Stats</h4>
                {%for language, ammount in language_data%}
                <div class="bar {{language}}" value={{ammount}} style="width: {{ammount / highest_language_value * 100}}%">{{language}}</div>
                {%endfor%}
            </div>
        </div>
    </div>
{%endblock content%}
{%block scripts%}
    <script src="js/index.js"></script>
{%endblock scripts%}   
